html {
    font-size: calc(100vw/1440 * 10);
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
body::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.center {
    text-align: center;
}
.flex-between {
    justify-content: space-between;
}
.centering {
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
.margin-0 {
    margin: 0;
}
img {
    height: 100%;
    width: 100%;
}
.w-100 {
    width: 100%;
}
.relative {
    position: relative;
}



.transaction-fees {
    width: 100rem;
    margin: 15rem auto 0;
}
.transaction-fees-content {
    margin-bottom: 8rem;
}
.fees-h {
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 700;
    color: #18151a;
}
.fees-input-p {
    font-size: 3.2rem;
    line-height: 3.2rem;
    font-weight: 500;
    position: absolute;
    top: 1.7rem;
    right: 11rem;
}
.fee-label {
    margin-right: 2rem;
    padding-top: 1rem;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button  {
    -webkit-appearance: none;
}
.feesCounter {
    background: rgb(212, 209, 209);
    width: 14rem;
    height: 7rem;
    border: .5rem solid #18151a;
    border-radius: 1rem;
    padding: 0 3.5rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
}
.rangeScrollbar {
    margin-bottom: 15rem;
}


.progress {
    height: 3rem;
    width: 100rem;
    background: rgb(236, 234, 234);
    position: relative;
}
.sliderProgress {
    height: 3rem;
    border-radius: .8rem;
    left: 0;
    right: 0;
    position: absolute;
    background: rgb(55, 139, 235);
}

.secondInput {
    position: absolute;
    height: 3rem;
    width: 101rem;
    top: -3.2rem;
    left: -.5rem;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
}
.secondInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12rem;
    height: 6rem;
    background: rgb(55, 139, 235);
    border-radius: .8rem;
    pointer-events: auto;
}